{% extends "layout.html" %}

{% block main %}

    {% if data is not defined %}
    <!-- Display instructions -->

    <div class="wrapper2">
    This little generator is meant to help beginning writers come up with random story ideas. Storytelling, like most things,
    requires practice, and it can be tricky for some writers to come up with ideas quickly that could lead to a viable story without
    becoming too attached to them.  This program aims to help with that.
    <br /><br />
    From a database of possibilities, it will pick out a character, a descriptive aspect, a place, an object, an event, and
    a generic ending to aim for. Your job as the writer is to figure out how to use each of the five elements given to create a
    story idea that aims more or less towards the ending provided. The elements can be paired in any way that seems appropriate
    or leads to an interesting setup, and some details suggested by the ending can be adjusted, such as genders or setting, but you
    should try to lead the story in that general direction.  You may interpret the elements at face value, or think of them
    metaphorically, whatever gets your creativity flowing!
    <br /><br />
    The generator will also pick out five stages from a modified version of Vladimir Propp's
    <a href="https://en.wikipedia.org/wiki/Vladimir_Propp#Narrative_structure">Functions of the Folktale</a>. These are major plot
    points that are universal to most types of stories.  Propp originally had these stages in a specific order, but here they are
    presented randomly.  You may incorporate these plot points in any order you see fit, but all of them must be used at some point
    in the story. If you are looking for a different challenge, try working with them in the order presented, or based on Propp's
    original order.
    <br /><br />
    If you want, you can adjust the generator to generate two elements of each type instead of one, or to produce several sets.
    You can even ask it to provide a genre type.  Play with it, and happy writing!
    </div>
    <br />
    {% else %}
    <!-- Display generated results -->

    <table class="outer">
        {% for sub in data %}
            <tr>
                <td>
                    <table class="inner1">
                        <tr><td colspan="2"><b><u>Story Elements</u></b></td></tr>
                        <tr>
                            <td><b>Character</b>: {{ sub.character1 }}{% if sub.character2 is defined %}, {{ sub.character2 }}{% endif %}</td>
                        </tr>
                        <tr>
                            <td><b>Aspect</b>: {{ sub.aspect1 }}{% if sub.aspect2 is defined %}, {{ sub.aspect2 }}{% endif %}</td>
                        </tr>
                        <tr>
                            <td><b>Place</b>: {{ sub.place1 }}{% if sub.place2 is defined %}, {{ sub.place2 }}{% endif %}</td>
                        </tr>
                        <tr>
                            <td><b>Thing</b>: {{ sub.thing1 }}{% if sub.thing2 is defined %}, {{ sub.thing2 }}{% endif %}</td>
                        </tr>
                        <tr>
                            <td><b>Event</b>: {{ sub.event1 }}{% if sub.event2 is defined %}, {{ sub.event2 }}{% endif %}</td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table class="inner2">
                        <tr><td><b><u>Story Stages</u></b></td></tr>
                        <tr><td><b>{{ sub.stage1.name }}</b>: Where {{ sub.stage1.description }}</td></tr>
                        <tr><td><b>{{ sub.stage2.name }}</b>: Where {{ sub.stage2.description }}</td></tr>
                        <tr><td><b>{{ sub.stage3.name }}</b>: Where {{ sub.stage3.description }}</td></tr>
                        <tr><td><b>{{ sub.stage4.name }}</b>: Where {{ sub.stage4.description }}</td></tr>
                        <tr><td><b>{{ sub.stage5.name }}</b>: Where {{ sub.stage5.description }}</td></tr>
                    </table>
                </td>
            </tr>

            {% if sub.genre is defined %}
            <tr>
                <td style="padding: 5px 0 0 20px"><b>Genre Suggestion:</b> {{ sub.genre }}</td>
                <td><b>Ending:</b> {{ sub.ending1 }}</td>
            </tr>
            {% else %}
            <tr><td style="padding: 5px 0 0 20px" colspan="2"><b>Ending:</b> {{ sub.ending1 }}</td></tr>
            {% endif %}
         {% endfor %}
    </table><br />
    {% endif %}

    <!-- Options form -->
    <form action="/" method="POST">
        <table class="form">
            <tr>
                {% if form is not defined %}
                <td colspan="3">Number of seeds <input type="number" name="multiple" class="number" min="1" max="5" value="1"></td>
                <td colspan="3"><input type="checkbox" name="genre" value="True">Suggest a genre</td>
            </tr>
            <tr>
                <td>Generate two of:</td>
                <td><input type="checkbox" name="twocharacter" value="True">Character</td>
                <td><input type="checkbox" name="twoaspect" value="True">Aspect</td>
                <td><input type="checkbox" name="twoplace" value="True">Place</td>
                <td><input type="checkbox" name="twothing" value="True">Thing</td>
                <td><input type="checkbox" name="twoevent" value="True">Event</td>
                {% else %}
                <td colspan="3">Number of seeds <input type="number" name="multiple" class="number" min="1" max="5" value="{{ form.multiple }}"></td>
                <td colspan="3"><input type="checkbox" name="genre" value="True"{% if form.genre is defined %} checked{% endif %}>Suggest a genre</td>
                </tr>
                <tr>
                    <td>Generate two of:</td>
                    <td><input type="checkbox" name="twocharacter" value="True"{% if form.twochar is defined %} checked{% endif %}>
                        Character</td>
                    <td><input type="checkbox" name="twoaspect" value="True"{% if form.twoasp is defined %} checked{% endif %}>
                        Aspect</td>
                    <td><input type="checkbox" name="twoplace" value="True"{% if form.twoplace is defined %} checked{% endif %}>
                        Place</td>
                    <td><input type="checkbox" name="twothing" value="True"{% if form.twothing is defined %} checked{% endif %}>
                        Thing</td>
                    <td><input type="checkbox" name="twoevent" value="True"{% if form.twoevent is defined %} checked{% endif %}>
                        Event</td>
                {% endif %}
            </tr>
            <tr>
                <td colspan="6"><button type="submit">Generate</button></td>
            </tr>
        </table>
    </form>
{% endblock %}